/* STUDIO */

/* HERO SECTION */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/bg-hero.jpg');
  background-color: var(--hero-bg-color);
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  min-width: 200px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color-hero-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* FEATURES SECTION */

.feature-list {
  display: flex;
}

/* вариант через not(last-child) */
.feature-item:not(:last-child) {
  margin-right: 30px;
  max-width: 270px;
}

/* вариант через соседа */
/* .feature-item + .feature-item {
  margin-left: 30px;
  max-width: 270px;
} */

.feature-item > .thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;

  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

/* Через псевдоэлементы ::before и ::after */
/* .feature-item::before {
  display: block;
  content: '';
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}

.feature-item.icon-antenna::before {
  background-image: url('../images/antenna.svg');
}

.feature-item.icon-clock::before {
  background-image: url('../images/clock.svg');
}

.feature-item.icon-diagram::before {
  background-image: url('../images/diagram.svg');
}

.feature-item.icon-astronaut::before {
  background-image: url('../images/astronaut.svg');
} */

.feature-item .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: inherit;
  text-transform: uppercase;
}

.feature-item .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--secondary-text-color);
  line-height: 1.7;
}

/* WORK SECTION */

.work-list {
  display: flex;
}

/* вариант через not(last-child) */
/* .work-list > .item:not(:last-child) {
  margin-right: 30px;
} */

/* вариант через соседа */
.work-list > .item + .item {
  margin-left: 30px;
}

.work-list .thumb {
  position: relative;
}

.work-list .description {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  margin: 0;
  padding: 27px 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--description-bg-color);
}

/* TEAM SECTION */

.bg-team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
}

.team-list > .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team-list > .item + .item {
  margin-left: 30px;
}

.card-content {
  padding: 30px;
  text-align: center;
}

.card-content > .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.card-content > .text {
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list > .item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--social-link-color);
  /* background-color: var(--primary-white-color); */
  /* background-size: 20px; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-link > .icon {
  fill: currentColor;
}

/* .icon-instagram {
  background-image: url('../images/instagram.svg');
}

.icon-twitter {
  background-image: url('../images/twitter.svg');
}

.icon-facebook {
  background-image: url('../images/facebook.svg');
}

.icon-linkedin {
  background-image: url('../images/linkedin.svg');
} */

/* CLIENTS SECTION */

.clients-list {
  display: flex;
}

.clients-list > .item:not(:last-child) {
  margin-right: 30px;
}

.clients-list .link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;

  color: var(--social-link-color);
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: 106px 60px; */
}

.clients-list .client-logo {
  fill: currentColor;
}

/* .icon-clients-1 {
  background-image: url('../images/Logo-1.svg');
}

.icon-clients-2 {
  background-image: url('../images/Logo-2.svg');
}

.icon-clients-3 {
  background-image: url('../images/Logo-3.svg');
}

.icon-clients-4 {
  background-image: url('../images/Logo-4.svg');
}

.icon-clients-5 {
  background-image: url('../images/Logo-5.svg');
}

.icon-clients-6 {
  background-image: url('../images/Logo-6.svg');
} */

.clients-list .link:hover,
.clients-list .link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}
